body{
    background-color: hsl(0, 0%, 12%);
}

.box_container{
    width: 400px;
    height: 500px;
    margin : auto;
    text-align: center;
    -webkit-box-shadow: 1px 1px 18px 9px hsl(0, 0%, 8%); 
    box-shadow: 1px 1px 18px 9px hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: 7px;

}

img{
    display: block;
    padding-top: 15px;
    margin: auto;
    border-radius: 50%;
}
#location{
    color: hsl(75, 94%, 57%);
    margin-bottom: 20px;
}
.links{
    margin-top: auto;
    margin-bottom: auto;
    background-color: hsl(0, 0%, 12%);
    
}


#gitlink,#youtubelink,#linkedinlink,#twitterlink,#instalink{
    color: hsl(0, 0%, 100%);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    display:block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 325px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 7px;
    border-style: none; 
    
    }